
<div class="jumbotron">
    <div class="container">
        <h1>About Us</h1>
<p>Breath and Mind Yoga is a guided discovery of the less tread dimension within us. Learn how to tap into the abundance of life energy through the power of breathing and positive visualisations. Minimal selected asanas are incorporated with breathing techniques. This session leaves one buoyant on platform of breath, with mind feeling revived and more organised. It is an excellent way to improve memory, concentration and emotional balance.

We are specialised in Mind and Body Technologies that enhance your brain capacity to the maximum 
</p>
    </div>
</div>

