<<<<<<< HEAD
<div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Welcome to my website!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>
=======

<h1>Mind and Body </h1>
<p>What is Yoga? 
The word yoga means “to join or yoke together” (from the Sanskrit verb yuj,) and it brings the body and mind together in one harmonious experience. 

Before we venture deeper into Yoga, let us take a look at some fundamental questions that you may about Yoga.

Why should I practice yoga? 
Because it's fun and healthy! Many people come to yoga primarily for physical and mental benefits. While yoga asanas are healing and effective for body and mind, yoga is so much more. Yoga is a lifestyle and a commitment. It is an opportunity to fulfill a promise to ourselves, which builds confidence, faith and responsibility. Yoga is an invitation to live deeply and to experience every moment meaningfully.

How often should I practice?
Yoga asks us to take responsibility for our goal setting. For example, if your goal is to gain mastery in asana, or become a teacher you might choose to practice 6 days a week. If you are serious about changing injurious body patterns or lifestyle habits, you will see best results if you practice several times per week. If you would like to be spontaneous and prefer not to have definitive goals, practice at your leisure. 

Is yoga a whole body workout?
Yoga isn't just a workout, it's 'a practice'. Yoga asanas, or postures, tone and heal the outer as well as the inner body. The asanas bring balance to the endocrine system, which balances our moods, muscles and metabolism. Each of the asanas targets specific muscular, organ and glandular systems. Prananyama (breath work) and meditation help balance both the right and left hemispheres of the brain; clearing the clutter and releasing cerebrospinal fluid. Yoga is preventative. "May you never know what you are preventing by practicing.

What do I wear? 
Wear non-binding clothing that does not inhibit your range of motion. With so many stretchy, high-performance fabrics available, the choices are endless. Cotton, bamboo and wool breathe the best. If you sweat a lot, you might opt for something with wicking properties. Wearing layers ensures that you will be able to adjust your temperature as needed.

Taking A Deeper Dip into Yoga.
In the practice of yoga the ultimate aim is one of self-development and self-realization. 
The classical techniques of Yoga date back more than 5,000 years. In ancient times, the desire for greater personal freedom, health and long life, and heightened self-understanding gave birth to this system of physical and mental exercise which has since spread throughout the world. 

The ancient yogis had a profound understanding of man’s essential nature and of what he needs to live in harmony with himself and his environment. 
The physical body was perceived as a vehicle, with the mind as driver, the consciousness as man’s true identity, and action, emotion and intelligence as the three forces which pull the body-vehicle. 

In order for these to be integrated, these three forces must be in balance. 
Therefore, to realize the interrelationship between body and mind, yoga as practiced provides a balance by combining all the movements needed for physical health with the breathing and meditation techniques that ensure peace of mind. 

The body is looked upon as the primary instrument that enables us to work and evolve in the world, and so a Yoga student treats it with great care and respect. 

Breathing techniques are based on the concept that breath is the source of life in the body. 

The Yoga student gently increases breath control to improve the health and function of both body and mind. 
These two systems of exercise and breathing then prepare the body and mind for meditation, and the student finds an easy approach to a quiet mind that allows silence and healing from everyday stress. 

Regular daily practice of all three parts of this structure of Yoga produce a clear, bright mind and a strong, capable body.</p>
>>>>>>> 3cf108b24af7ec22526964c684054d636d6c2b12
